<!DOCTYPE html>
<html>
<head>
  <title>Blog API</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Blog API - Ana Sayfa</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="description" content="Ruby on Rails ile geliştirilmiş blog API platformu">
</head>

<body>
  <%= yield %>
</body>
</html>
